@charset "UTF-8";
/**
 * @file public/CSS/main.scss
 * @description main stylesheet
 ****************************************************/
/**
 * @file _variables.scss
 * @description This file contains all the variables used in the project.
 ***********************************************************************/
/* COLORS  =========================================================  COLORS */
/* END COLORS =================================================== END COLORS */
/* SIZES  ============================================================ SIZES */
/* END SIZES  ===================================================  END SIZES */
/* END _VARIABLES.SCSS */
.link {
  display: inline-block;
  position: relative;
  cursor: pointer;
}
.link:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--text-color);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
  z-index: 444;
}
.link:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.btn {
  font-size: 1.5rem;
  padding: 0.5rem 1rem;
  background: #064A60 !important;
  border-radius: 999px !important;
}

* {
  text-align: center;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box; /* Firefox, other Gecko */
  box-sizing: border-box; /* Opera/IE 8+ */
  transition: transform 0.5s ease;
}

/**
 * @file public/CSS/_reset.scss
 * @description This file contains all the reset used in the project.
 ********************************************************************/
* {
  box-sizing: border-box;
}

html {
  -webkit-text-size-adjust: none; /*─ Debug font size on iphone when landscape orientation ─*/
  -webkit-font-smoothing: subpixel-antialiased; /*─ Debug safari font weight when fixed element on the page ─*/
  -webkit-font-smoothing: antialiased; /*─ idem : Debug safari font weight when fixed element on the page ─*/
}

html, body, nav, header, footer, div, span,
h1, h2, h3, p,
a, img,
ul, li,
table, form, label, input, textarea, select, button {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
}

ul {
  list-style: none;
}

li {
  list-style: none;
}

input, textarea, select, button {
  display: block;
  box-sizing: border-box;
  border-radius: 0;
  outline: none;
  border: none;
  background: none;
  color: inherit;
}

input:focus,
textarea:focus,
button:focus {
  outline: none;
}

input[type=submit]:hover,
button:hover {
  cursor: pointer;
}

input::-ms-clear {
  display: none; /*─ IE11 → remove cross to close ─*/
}

textarea {
  overflow: auto; /*─ Hide scroll bar on IE ─*/
}

a {
  color: inherit;
  text-decoration: none;
}

img, video, svg, picture {
  display: block;
}

img, video {
  width: 100%;
  height: auto;
}

svg {
  width: 100%;
  height: 100%;
}

iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* END _RESET.SCSS */
/**
 * @file _variables.scss
 * @description This file contains all the variables used in the project.
 ***********************************************************************/
/* COLORS  =========================================================  COLORS */
/* END COLORS =================================================== END COLORS */
/* SIZES  ============================================================ SIZES */
/* END SIZES  ===================================================  END SIZES */
/* END _VARIABLES.SCSS */
html {
  font-size: 100%;
}
html body {
  width: 100%;
  height: 100%;
  --background-color: #eee;
  --text-color: #111;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--background-color);
  color: var(--text-color);
  transition: background-color 0.5s ease, color 0.5s ease;
}
html body.dark {
  --background-color: #111;
  --text-color: #bbb;
}
html body h1 {
  font-size: 2rem;
  font-weight: 400;
  margin: 0;
}
html body header {
  height: 8vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 2vw;
  background: #042C3A;
  color: #bbb;
  box-shadow: 0 0 2px var(--text-color);
  transition: background-color 0.5s ease, color 0.5s ease;
}
html body header h1 {
  padding: 0.5rem 1.5rem;
  border-radius: 999px;
  background: #064A60;
}
html body header .header-group {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 2.5rem;
}
html body header .header-group .tabs {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 1.5rem;
}
html body header .header-group .tabs li {
  width: 100%;
  padding: 0 1rem;
}
html body header .header-group .tabs li:not(:first-child) {
  border-left: 1px solid #bbb;
}
html body header .header-group .tabs li a.link::after {
  background: #bbb;
}
html body header .header-group .btn {
  height: 80%;
}
html body header .header-group .btn:focus {
  background: #0D8FBF !important;
}
html body header #themeSwitcherContainer {
  border-radius: 4px;
  background-color: rgba(208, 208, 102, 0.3137254902);
  padding: 4px;
}
html body header #themeSwitcherContainer #themeSwitcher:hover {
  transform: rotate(22.5deg);
}
html body header #themeSwitcherContainer #themeSwitcher svg path {
  fill: #D0D066;
}
html body main {
  height: 100%;
  width: 100%;
  padding: 2rem;
}
html body main .titre {
  font-size: 2rem;
  font-weight: 400;
  margin-bottom: 2rem;
  text-align: left;
  text-decoration: underline;
}
html body main .infos-qcm {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 2vh;
}
html body main .infos-qcm h1 {
  text-decoration: underline;
}
html body main .infos-qcm label {
  font-size: 1.5rem;
  font-weight: 400;
}
html body main .infos-qcm label::after {
  content: " :";
}
html body main .infos-qcm .labelInputRow {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
html body main .infos-qcm input, html body main .infos-qcm textarea {
  text-align: left;
  padding-left: 0.5rem;
  font-size: 1.5rem;
  font-weight: 400;
  border: 1px solid var(--text-color);
  border-radius: 4px;
  background-color: var(--background-color);
  color: var(--text-color);
}
html body main .infos-qcm input[type=checkbox], html body main .infos-qcm textarea[type=checkbox] {
  width: 1.5rem;
  height: 1.5rem;
}
html body main .infos-qcm input[type=submit], html body main .infos-qcm textarea[type=submit] {
  height: auto;
  width: auto;
  padding: 1rem;
  font-size: 1.5rem;
  font-weight: 400;
  border: 1px solid var(--text-color);
  border-radius: 4px;
  background-color: var(--background-color);
  color: var(--text-color);
}
html body main .infos-qcm input[type=submit]:hover, html body main .infos-qcm textarea[type=submit]:hover {
  background-color: var(--text-color);
  color: var(--background-color);
}
html body main .infos-qcm input:focus, html body main .infos-qcm textarea:focus {
  background-color: var(--text-color);
  color: var(--background-color);
}

/* END MAIN.SCSS */

/*# sourceMappingURL=main.css.map */
