/**
 * @file public/CSS/main.scss
 * @description main stylesheet
 ****************************************************/

@import "base";
@import "reset";
@import 'variables';


html {
  font-size: 100%;

  body {
    width: 100%;
    height: 100%;

    --background-color: #eee;
    --text-color: #111;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: var(--background-color);
    color: var(--text-color);

    transition: background-color 0.5s ease, color 0.5s ease;

    &.dark {
      --background-color: #111;
      --text-color: #bbb;
    }

    h1 {
      font-size: 2rem;
      font-weight: 400;
      margin: 0;
    }

    header {
      height: $header-height;
      width: $header-width;

      display: flex;
      flex-direction: row;

      justify-content: space-between;
      align-items: center;

      padding: 0 2vw;

      background: $dark-blue;
      color: $gray;

      box-shadow: 0 0 2px var(--text-color);

      transition: background-color 0.5s ease, color 0.5s ease;

      h1 {
        padding: .5rem 1.5rem;

        border-radius: 999px;

        background: $blue;
      }

      .header-group {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        gap: 2.5rem;

        .tabs {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;

          font-size: 1.5rem;

          li {
            width: 100%;
            padding: 0 1rem;

            &:not(:first-child) {
              border-left: 1px solid $gray;
            }

            a.link::after {
              background: $gray;
            }

          }
          
        }

        .btn {
          height: 80%;

          &:focus {
            background: $light-blue !important;
          }
        }
        
      }

      #themeSwitcherContainer {

        border-radius: 4px;
        background-color: $gold-dimmed;

        padding: 4px;

        #themeSwitcher {

          &:hover {
            transform: rotate(22.5deg);
          }

          svg {
            path {
              fill: $gold;
            }
          }
        }
      }

    }

    .path{
      width: 100%;

      ul{
        display: flex;
        flex-direction: row;
        align-items: center;
        width: min-content;
        background: #0D8FBF;

        li{
          padding: 0 1rem;
            &:not(:first-child){
                border-left: 1px solid #bbb;
            }
          a{
            background: #bbb;
          }
        }

        &:after {
          content: "";
          width: min-content;
          background: var(--background-color);
          transition: background-color 0.5s ease;


          border-top: 10px solid transparent;
          border-bottom: 10px solid transparent;
          border-left: 10px solid #0D8FBF;
          margin-left: 10px;
        }
      }
    }

    main {
      height: 100%;
      width: 100%;

      padding: 2rem;

      .titre {
        font-size: 2rem;
        font-weight: 400;
        margin-bottom: 2rem;
        text-align: left;
        text-decoration: underline;
      }

      .infos-qcm {
        height: 100%;
        width: 100%;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 2vh;

        h1 {
          text-decoration: underline;
        }

        label {
          font-size: 1.5rem;
          font-weight: 400;

          &::after {
            content: " :";
          }
        }

        .labelInputRow {
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;

          gap: 2rem;
        }

        input, textarea {
          text-align: left;

          padding-left: .5rem;

          font-size: 1.5rem;
          font-weight: 400;

          border: 1px solid var(--text-color);
          border-radius: 4px;
          background-color: var(--background-color);
          color: var(--text-color);

          &[type="checkbox"] {
            width: 1.5rem;
            height: 1.5rem;
          }

          &[type="submit"] {
            height: auto;
            width: auto;
            padding: 1rem;

            font-size: 1.5rem;
            font-weight: 400;

            border: 1px solid var(--text-color);
            border-radius: 4px;
            background-color: var(--background-color);
            color: var(--text-color);

            &:hover {
              background-color: var(--text-color);
              color: var(--background-color);
            }
          }

          &:focus {
            background-color: var(--text-color);
            color: var(--background-color);
          }
        }

      }
    }
  }
}

/* END MAIN.SCSS */
